In [1]:
from FS_dangjin_pkg.config import *
import FS_dangjin_pkg.sales as S
import FS_dangjin_pkg.cost as C
import FS_dangjin_pkg.loan as L

In [4]:
import importlib
importlib.reload(S)
importlib.reload(C)
importlib.reload(L)

In [5]:
#### Input Basic Data ####
mtrt = 10

#### Input Sales Data ####
pmnt_scd = [0, 3, 7, 10]
pmnt_rate = [0.1, 0.2, 0.2, 0.5]
sales_dct = {}

#물류시설용지
sales_lgstc = S.sales(title = '물류시설용지', aream2 = 244_377, unitprcm2 = 1.400/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '물류단지시설', sep2 = '물류시설', note = "")
sales_dct['sales_lgstc'] = sales_lgstc

#상류시설용지
sales_cmrcl = S.sales(title = '상류시설용지', aream2 = 34_926, unitprcm2 = 3.500/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '물류단지시설', sep2 = '상류시설', note = "")
sales_dct['sales_cmrcl'] = sales_cmrcl
                 
#단독주택용지
sales_house = S.sales(title = '단독주택용지', aream2 = 9_137, unitprcm2 = 2.830/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '단독주택', note = "")
sales_dct['sales_house'] = sales_house
                 
#공동주택용지
sales_aptmt = S.sales(title = '공동주택용지', aream2 = 33_134, unitprcm2 = 4.100/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '공동주택', note = "")
sales_dct['sales_aptmt'] = sales_aptmt
                 
#상업시설용지
sales_rtl = S.sales(title = '상업시설용지', aream2 = 17_195, unitprcm2 = 4.100/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '상업시설', note = "")
sales_dct['sales_rtl'] = sales_rtl
                 
#업무시설용지
sales_ofc = S.sales(title = '업무시설용지', aream2 = 6_151, unitprcm2 = 4.350/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '업무시설', note = "")
sales_dct['sales_ofc'] = sales_ofc
                 
#주차장
sales_prklt = S.sales(title = '주차장', aream2 = 8_352, unitprcm2 = 1.950/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '주차장', note = "")
sales_dct['sales_prklt'] = sales_prklt
                 
#주유소
sales_gsstn = S.sales(title = '주유소', aream2 = 2_400, unitprcm2 = 4.100/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '주유소', note = "")
sales_dct['sales_gsstn'] = sales_gsstn
                 
#자원순환시설
sales_rcclng = S.sales(title = '자원순환시설', aream2 = 10_000, unitprcm2 = 2.800/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '자원순환시설', note = "")
sales_dct['sales_rcclng'] = sales_rcclng
                 
#발전시설
sales_pwrplnt = S.sales(title = '발전시설', aream2 = 10_000, unitprcm2 = 2.800/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '지원시설', sep2 = '발전시설', note = "")
sales_dct['sales_pwrplnt'] = sales_pwrplnt
                 
#가스정압기
sales_gsprs = S.sales(title = '가스정압기', aream2 = 25, unitprcm2 = 1.440/py, unitmtpl = pmnt_rate, inptidx = pmnt_scd, mtrt = mtrt,
                     sep1 = '공공시설', sep2 = '가스정압기', note = "")
sales_dct['sales_gsprs'] = sales_gsprs

#Merge
sales = S.salesmerge(sales_dct)

In [3]:
sales.df()

,sales_lgstc,sales_cmrcl,sales_house,sales_aptmt,sales_rtl,sales_ofc,sales_prklt,sales_gsstn,sales_rcclng,sales_pwrplnt,sales_gsprs
-1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
0,10349.366338,3697.790389,782.195757,4109.444504,2132.609955,809.394743,492.663618,297.660011,847.000032,847.000032,1.089
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,20698.732676,7395.580777,1564.391514,8218.889008,4265.219910,1618.789486,985.327237,595.320022,1694.000064,1694.000064,2.178
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
7,20698.732676,7395.580777,1564.391514,8218.889008,4265.219910,1618.789486,985.327237,595.320022,1694.000064,1694.000064,2.178
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
10,51746.831691,18488.951943,3910.978784,20547.222521,10663.049775,4046.973714,2463.318092,1488.300056,4235.000159,4235.000159,5.445

In [8]:
sum(sales.amt())

243662.14378733034

In [15]:
prcs_rate = pd.Series([0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1], index=[1,2,3,4,5,6,7,8,9,10])

In [16]:
prcs_rate.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [20]:
prcs_rate.values

array([0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1])

In [19]:
dir(prcs_rate)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_type',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [21]:
mthly = [np.ones(mtrt), np.arange(1, mtrt + 1)]

In [22]:
mthly

[array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])]

In [30]:
mthly = pd.Series(np.ones(mtrt), index=np.arange(1, mtrt+1))

In [31]:
mthly

1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
dtype: float64

In [24]:
prcs_rate = pd.Series({'data':[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]}, index=[1,2,3,4,5,6,7,8,9,10])

In [26]:
prcs_rate.data

AttributeError: 'Series' object has no attribute 'data'

In [32]:
a = 21_398

In [42]:
np.ceil(a, -3)

TypeError: return arrays must be of ArrayType

In [36]:
k = 1_000

In [39]:
round(a/k,0) * k

21000.0

In [44]:
np.ceil(a/k) * k

22000.0

In [45]:
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [49]:
if 1 <= 4 and 3 <= 9:
    print('a')

a

In [50]:
import FS_dangjin_pkg.loan as L

In [51]:
TrA = L.loan(amt = 10000000, mtrt = 10, IR=0.05)

In [52]:
TrA.df

,amt_ntnl,amt_paid,amt_paid_cum,amt_paid_rsdl,amt_repd,amt_repd_cum,amt_rsdl,amt_paid_forIR,IR_rate,IR_amt,IR_amt_cum,IR_repd,IR_repd_cum,IR_rsdl,fee_amt,fee_repd,fee_unpd
-1,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
0,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
1,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
2,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
3,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
4,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
5,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
6,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
7,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
8,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
9,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0
10,10000000,0,0,10000000,0,0,0,0,0.05,0.0,0.0,0,0,0.0,0.0,0,0.0

In [53]:
TrA.amt_pay(1, 500000)

In [54]:
TrA.df

,amt_ntnl,amt_paid,amt_paid_cum,amt_paid_rsdl,amt_repd,amt_repd_cum,amt_rsdl,amt_paid_forIR,IR_rate,IR_amt,IR_amt_cum,IR_repd,IR_repd_cum,IR_rsdl,fee_amt,fee_repd,fee_unpd
-1,10000000,0,0,10000000,0,0,0,0,0.05,0.000000,0.000000,0,0,0.000000,0.0,0,0.0
0,10000000,0,0,10000000,0,0,0,0,0.05,0.000000,0.000000,0,0,0.000000,0.0,0,0.0
1,10000000,500000,500000,9500000,0,0,500000,0,0.05,0.000000,0.000000,0,0,0.000000,0.0,0,0.0
2,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,2083.333333,0,0,2083.333333,0.0,0,0.0
3,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,4166.666667,0,0,4166.666667,0.0,0,0.0
4,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,6250.000000,0,0,6250.000000,0.0,0,0.0
5,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,8333.333333,0,0,8333.333333,0.0,0,0.0
6,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,10416.666667,0,0,10416.666667,0.0,0,0.0
7,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,12500.000000,0,0,12500.000000,0.0,0,0.0
8,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,14583.333333,0,0,14583.333333,0.0,0,0.0
9,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,16666.666667,0,0,16666.666667,0.0,0,0.0
10,10000000,0,500000,9500000,0,0,500000,500000,0.05,2083.333333,18750.000000,0,0,18750.000000,0.0,0,0.0

In [57]:
a = True

In [58]:
if a is True:
    print('a')

a

In [61]:
print("ltv : {}".format(650 / 894))
print("IR : {}".format(0.049))

ltv : 0.727069351230425
IR : 0.049

In [62]:
print("ltv : {}".format(500/890))
print("IR : {}".format(0.04))

ltv : 0.5617977528089888
IR : 0.04

In [63]:
TrA = {'amt': 360, 'IR'}

356.0

In [69]:
loan = pd.DataFrame({'amt':[360, 140], 'IR':[0.032, 0.05]}, index=['TrA', 'TrB'])
(loan.amt * loan.IR).sum() / loan.amt.sum()

0.03704

In [72]:
loan = pd.DataFrame({'amt':[300, 200], 'IR':[0.032, 0.052]}, index=['TrA', 'TrB'])
(loan.amt * loan.IR).sum() / loan.amt.sum()

0.04